[submodule "toolchains/avb"]
	path = toolchains/avb
	url = https://android.googlesource.com/platform/external/avb
[submodule "toolchains/AIK_ARM"]
	path = toolchains/AIK_ARM
	url = https://github.com/sreejith7676/AIK_ARM.git
[submodule "sm7325"]
	path = sm7325
	url = https://github.com/JingMatrix/kernel_samsung_ascendia_sm7325.git
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu
